.navigation {
  height: 100px;
  margin-bottom: 5%;
}

.navbar {
background-color: black;
display: flex;
text-justify: center;
height: inherit;

}

.gitLogo {
  padding-left: 3%;
  padding-right: 5%;
  align-self: center;
 
}

.headerText {
 align-self: center;
 color: white;
 font-size: 20px;
 font: bolder;
}

.degree53Logo {
  position: absolute;
  right:  0px;
  height: inherit;
}
